html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
}

#head1,
#head2,
#head3,
#webprojects,
#design,
#apps {
    font-size: 60px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e2e2e;
    text-align: center;
}


/* NAVIGATOR */

nav #menu a {
    color: black;
    text-decoration: none;
    color: #05386B;
    font-weight: 600;
}

nav #menu a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

nav #menu {
    float: right;
    font-size: 30px;
    padding-top: 50px;
}

nav img {
    border-radius: 50%;
    width: auto;
    height: 150px;
    border: 2px solid whitesmoke;
}

nav #mobilelogo {
    display: none;
}

nav {
    padding: 20px;
}


/* MOBILE NAV */

mobilenav #menu a {
    color: black;
    text-decoration: none;
    color: #05386B;
    font-weight: 600;
}

mobilenav #menu a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

mobilenav #menu {
    font-size: auto;
    font-weight: 600;
}

mobilenav {
    padding: 20px;
    text-align: center;
}


/* SERVICES */

services #data {
    font-family: 'Times New Roman', sans-serif;
    font-size: 80px;
    color: black;
}

services a {
    color: black;
}

services a:hover {
    color: #379683;
    transition: 0.2s;
}


/* PORTFOLIO */

portfolio {
    text-align: center;
}

portfolio item img {
    width: 50%;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 3px;
}

portfolio item img:hover {
    transition: 2s;
    opacity: 0.8;
    box-shadow: inset;
}

portfolio item #header {
    font-weight: 600;
    font-family: Arial, sans-serif;
    font-size: 22px;
}


/* CONTACT */

contact {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

contact a {
    color: black;
}

contact a:hover {
    color: #379683;
    transform: 0.2s;
}


/* ABOUT */

about {
    text-align: center;
}

about img {
    border-radius: 50%;
    width: auto;
    height: 250px;
    border: 2px solid whitesmoke;
}


/* FOOT */

#foot {
    font-size: 20px;
    text-align: center;
    color: gray;
}


/* SCHEME */

#mobsc {
    display: none;
}

#mobctl {
    display: none;
}

#mobapp {
    display: none;
}

mobilewebprojects {
    display: none;
}

mobiledesign {
    display: none;
}

mobiletheapp {
    display: none;
}

scheme line p,
mobilescheme line p,
catalog line p,
mobilecatalog line p,
app line p,
mobileapp line p,
webprojects line p,
mobilewebprojects line p,
design line p,
mobiledesign line p,
theapp line p,
mobiletheapp line p {
    text-align: center;
}

scheme line p img,
mobilescheme line p img,
catalog line p img,
mobilecatalog line p img,
app line p img,
mobileapp line p img,
webprojects line p img,
mobilewebprojects line p img,
design line p img,
mobiledesign line p img,
theapp line p img,
mobiletheapp line p img {
    width: 30%;
    border-radius: 3px;
    border: 2px solid whitesmoke;
}

mobilescheme line p img,
mobilecatalog line p img,
mobileapp line p img,
mobilewebprojects line p img,
mobiledesign line p img,
mobiletheapp line p img {
    width: 55%;
    border-radius: 3px;
    border: 2px solid whitesmoke;
}


/* MOBILE */

@media (max-width:880px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
    nav #menu {
        display: none;
    }
    nav #mobilelogo {
        text-align: center;
        display: block;
    }
    nav #logo {
        display: none;
    }
    services #data {
        font-size: 35px;
    }
    #empty {
        display: none;
    }
    portfolio item #header {
        font-size: 22px;
    }
    portfolio item img {
        width: 70%;
    }
    #head1,
    #head2,
    #head3,
    #webprojects,
    #design,
    #apps {
        font-size: large;
    }
    #foot {
        font-size: 15px;
    }
    about img {
        border-radius: 50%;
        width: auto;
        height: 150px;
        border: 2px solid whitesmoke;
    }
    #norsc,
    #catalog,
    #app,
    webprojects,
    design,
    theapp {
        display: none;
    }
    #mobsc,
    #mobctl,
    #mobapp,
    mobilewebprojects,
    mobiledesign,
    mobiletheapp {
        display: block;
    }
}

@media (min-width:880px) {
    mobilenav {
        display: none;
    }
    portfolio item #header {
        font-size: 22px;
    }
}